* {
  font-family: sans-serif;
}
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, #0047ab 0%, #f1c40f 100%);
  background-image: url("../assets/Images/bg.png");
  color: white;
  padding: 20px 80px;
  flex-wrap: wrap;
}

.hero-content {
  max-width: 600px;
}

.date {
  font-size: 14px;
  letter-spacing: 1px;
  opacity: 0.9;
  margin-bottom: 10px;
}

.hero-content h1 {
  font-size: 38px;
  font-weight: 700;
  line-height: 1.3;
}

.hero-image img {
  max-width: 415px;
  border-radius: 8px;
}

/* CARD SECTION */
.card-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  padding: 40px 60px;
  margin-top: -54px;
  margin: -80px auto 0 auto;
}

.quicklinks .card {
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  width: 140px;
  height: 100px;
  text-align: center;
  padding: 20px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  text-decoration: none;
  color: black;
}

.quicklinks .card img {
  width: 48px;
  height: 48px;
    margin-bottom: 10px;
    object-fit: contain;
}

.quicklinks .card p {
  font-weight: 600;
  margin: 0;
  font-size: 16px;
}

.quicklinks .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}
