/* .library-section {
  padding: 60px 80px;
} */

.library-section h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 30px;
  color: #222;
  margin-top: 0px;
  font-family: sans-serif;
}

.library-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}

.library-card {
  position: relative;
  flex: 1 1 30%;
  min-width: 300px;
  height: 220px;
  border-radius: 16px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  color: #fff;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-decoration: none;
}

.library-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.library-card .overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, rgba(0, 65, 175, 0.8) 0%, rgba(255, 215, 0, 0.5) 100%), url("../assets/lib.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.content1 {
  position: relative;
  z-index: 2;
  padding: 25px;
}

.library-section .content1 h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}

.library-section .content1 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.library-section .content1 ul li {
  font-size: 16px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}
