.BreakingNewContainer {
  display: flex;
  align-items: center;
  box-shadow: 0 4px 10px rgba(37, 49, 60, 0.1);
  border-radius: 5px;
  padding: 5px 15px;
  margin: 20px 0 50px 0;
}
.BreakingNewContainer img {
  height: 45px;
}
.BreakingNewContainer p {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 0 0 0 10px;
  /* font-family: system-ui; */
  color: rgb(17, 63, 138);
  font-weight: 500;
}

.News-Header {
  /* color: #00A99C; */
  /* font-size: 24px; */
  /* margin: 0px 0 35px 0; */
  /* font-family: system-ui;
    font-weight: 600; */
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 30px;
}
.New-description {
     display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 90%;
    margin: 15px auto;
    color: #484848;
    font-size: 14px;
    text-align: left;
    line-height: 1.5;
}
.slick-slide img {
    display: block;
    width: 100%;
    margin: 0 auto;
    height: 250px;
    object-fit: cover;
}
.slick-dots {
bottom: -24px;
}

.slick-dots li button {
  padding: 20px !important;
}
.container .slick-slider .slick-prev {
  left: -20px !important;
}
.container .slick-slider .slick-next {
  right: -20px !important;
}
@media only screen and (max-width: 720px) {
  .BreakingNewContainer p {
    -webkit-line-clamp: 2;
  }

  .slick-next {
    right: -10px;
  }
  .slick-prev {
    left: -10px;
  }
}


.newsMain {
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 16px;
    /* padding: 24px; */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    width: 93% !important;
    margin: 0 auto !important;
    overflow: hidden;
    text-decoration: none;
}

.slick-initialized .slick-slide{
  text-align: center;
}